@font-face{
    font-family:'Raleway',sans-serif;
    src: url(P2-Marly-Johanna/johannamarly_2_08032021/Raleway-VariableFont_wght.ttf,)format("ttf")
    url(P2-Marly-Johanna/johannamarly_2_0803202/Raleway-Italic-VariableFont_wght.ttf)format("ttf")
    url(P2-Marly-Johanna/johannamarly_2_08032021/Raleway-Bold.ttf)format("ttf")

}
.grid-container-navbar {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.1fr ;
    gap: 0px 0px;
    grid-template-areas:
      ". line . ."
      "logo-reservia hebergement activites inscrire";
  }
  
  .logo-reservia img { 
    grid-area: logo-reservia;
   max-width: 10%;
   height: auto;
   margin-left: 30px;
   margin-top: 30px;
 }
  
  .hebergement { 
    font-family: 'Raleway'; 
    font-size: 14px;
    color: #0065FC;
    grid-area: hebergement;
     margin-top: -45px;
     margin-left: 100PX ;
     text-decoration: none;
    
 }

 .line{
    grid-area: line;
     border-top: solid #0065fc;
     width: 70%;
     border-width: 2Px;
     margin-left: 78px;
 }
     
  
  .activites { 
    font-family: 'Raleway';
    font-size: 14px;
    grid-area: activites;
    margin-top: -45px;
    margin-left: 78px }
  
  .inscrire { 
    font-family: 'Raleway'; 
    font-size: 14px;
    font-weight: bold;
    color:#0065FC;
    grid-area: inscrire;
    margin-top: -45px;
    margin-left: 43px;

  }
.info h3{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 18px;
    margin-top: 28px;
    margin-left: 30px;
    margin-bottom: 0px;
}  
.info h5{
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 15px;
    margin-top: -8px;
    margin-left: 30px;
    margin-bottom: 0%;
}

    
.searchForm{
    display: inline-flex;
    overflow: auto;
    margin-top: -20px;
    margin-left: 30px;
}
.searchFormWrapicon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;

}
.searchFormWrapiconIcon{
    margin-left: 0.1rem;
    
}
.searchFormWrapicon .fas{
    color: black;
}
.searchFormSearchImput{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-family: 'Raleway';
}
.searchFormSearchInput {
    padding-left: 7px;
    font-family: 'Raleway';
    font-size: 15px;
}
.searchFormSubmitInput{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: 'Raleway';
    font-size: 1rem;
    cursor: pointer;
}
.loupe{
    display: none !important;
    color: white !important;
}

.filter-title{
   
    font-family: 'Raleway';
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.filtres{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;

}

    .filter-element{
    border: solid silver 2px;
    border-radius: 2em;
    max-width: 250px;
    margin-right: 16px ;
   
}
.filter-element-containeur{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 43px;
}
.filter-element :hover{
    background-color: rgb(196, 196, 235);
    border-radius: 20px;
    font-style: italic;
    
}

.filter-element-icone-containeur{
    width: 3rem;
    background-color:#DEEBFF ;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    margin-left: -2%;

}
.filter-element-icone-containeur i{
    color: #0065FC;
    position: relative;
    top: 25%
}


.filter-element-texte{
    margin: 2px 16px;
    font-family: 'Raleway';
}


.info2 i{
    border: solid #F2F2F2;
    border-width: 2px;
    border-radius: 20px;
    padding: 8px 13px 8px 13px;
    margin-right: 1%;
    margin-left: 30px;
    
}
.info2{
    font-size: 15px;
    font-family: 'Raleway';
}
.hebergement-activités-inscription-containeur{

    display: flex;
    position: relative;
    bottom: 10rem;
    top: -45px;
    margin-left: 40%;
    padding: 20px 10px 10px 10px;
   
}
.hebergement-titre{
    margin-right: 50px;
}
.activités-titre{
    margin-right: 50px;
}


.fas{
    
    color: #0065ff;
    margin: 0% 0% 0% 0%;
    border: none;
}
.far {
    color: #F2F2F2;
    

}
.Marseille-containeur{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
#hebergement_containeur{
    
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 15px;
    padding-top: 25px;
    
    
}
.Marseille-titre{

    margin-left: 4px;
    margin-bottom: -30px;
    margin-top: -21px;
    

}
.Marseille-titre h3{
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 0px;
    font-family: 'Raleway';
}

.Marseille-content-containeur{
    
    
    background-color: #f2f2f2;
    padding-top: 60px;
    border-radius: 20px 20px 20px 20px;
    padding-left: 9%;
    margin-left: 30px;
    padding-right: 0%;

}
.Marseille-left-containeur{

    width: 64%;
}
.les-plus-populaires-right-containeur{

    width: 36%;
}

 img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    
}


.third{
     width: 26%;
     margin-right: 5%;
     margin-bottom: 5%;
    
}
.third :hover{
    background-color: rgb(196, 196, 235);
    font-style:italic ;
    
}
.description{
    margin-left: 2px;
}

.hebergement-element-content{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:3px 3px 3px rgb(196, 193, 193);
    padding: 5px;
}
.hebergement-image{
    height: 6em;
    object-fit: cover;
}

.AFP{
    display: flex;
    width: auto;
    padding-left: 10px;
    padding-top: -1%;
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    padding-bottom: 33px;
    border-radius: 0px 0px 20px 20px;
   
}
.AFP a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.les-plus-populaires-test h3{

    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 4px;
}
.les-plus-populaires-test span i{
    color: black;
    
}
.les-plus-populaires-test {
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-left: 29px;
    margin-right: 40px;
    
    
}

.les-plus-populaires-test h3{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway';
    margin-top: 38px;
    margin-left: 30px;
}
.les-plus-populaires-test span .fas{
    margin-left: 195px;
}
.img-pop{
    width: 45%;
    height: 89%;
    border-radius: 10px 0px 0px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 17px;
    object-fit: cover;

}


.pop{
    display: flex;
     margin-top: 12px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    height: 136px;

}

.pop :hover{

    background-color: rgb(196, 196, 235);
    font-style: italic;
}
.pop i{

    margin: 42px -2px 0px 5px;
}
span i{
    color: black;
    margin-left: 450px;
    margin-top: 2px;
}  
.grid-container-activity-Marseille {
    max-height: 100%;
    height: 438px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 50%;
    gap: 24px 24px;
    grid-template-areas:
      "old-port pomegue calanques garde"
      "old-port iles-frioul calanques longchamp";
    margin-top: -34px;
    margin-left: 30px;
  }
  .old-port { grid-area: old-port; }
  .pomegue { grid-area: pomegue; }
  .iles-frioul { grid-area: iles-frioul; }
  .calanques { grid-area: calanques; }
  .garde { grid-area: garde; }
  .longchamp { grid-area: longchamp; }


.grid-container-activity-Marseille-title{
    padding: 2%;
    font-size: large;
    font-family: 'Raleway';
    margin-left: 6px;
} 
.activity-Maseille-card{
    height: 100%;
    border-radius: 20px;
    box-shadow: #00000038 0px 0px 4px;
}

.activity-Maseille-card-image{
    height: 90%;
}

.activity-Maseille-card-image-little{

    height: 85%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.activity-Marseille-card-title{
    height: 10%;
    margin: 1% 6px;
}


#footer {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 15px;
    
}

       
@media all and (max-width: 1024px) {



.Marseille-titre h3{
    font-size: 30px;
}

.third{
    
    height: 270px;
    font-size: 25Px;
    
}
.hebergement-image{
    height: 200px;
}
}


@media all and (max-width: 768px){

    .grid-container-navbar {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.4fr 0.6fr 0fr ;
        gap: 0px 0px;
        grid-template-areas:
          "logo-reservia inscrire"
          "hebergement activites"
          "line .";
    }
      
    .logo-reservia img { 
        grid-area: logo-reservia; 
        margin-top: 14%;
        min-width: 60%;
        
    }
      
    .inscrire { grid-area: inscrire;
        margin: 21% 0% 17% 68% ;
        font-size: 20px;
    }

    .inscrire a {
        text-decoration: none;
    }
      
    .hebergement { grid-area: hebergement;
        margin-top: 15%;
        margin-left: 14%;
        font-size: 20px;
        text-decoration: none;
     }
    .hebergement a{
        text-decoration: none;  
    
    }
    .activites { grid-area: activites;
        margin-top: 15%;
        margin-left: 95px;
        font-size: 20px;
        text-decoration: none;
    }

    .activites a {
        color: black;
        text-decoration: none;
    }
    
    .line { grid-area: line;
         margin-left: 0%; 
         width: 110%;
    }


    .fas fa-search{
        display: block;
        }
    
    .info h3{
        font-size: xx-large;
        }
    
    .info h5{
        font-size: x-large;
        }
    
    .info2{
        font-size: x-large;
        }


    .loupe{
        display: flex !important;
}
    .searchForm{
        width: 100%;
    }
    .searchFormSubmitInput span{
        display: none;
    }
    .filter-element{
        margin-bottom: 8px;
    }



    .les-plus-populaires-test{
        width: 140%;
        margin-left: auto;
        border-radius: 0px 0px 0px 0px;
        
    }
    .les-plus-populaires-right-containeur{
        width: 85%;
        background-color: #F2F2F2;
    }
    .img-pop-soleil{
        width: 95%;
    }
    .pop{
        width: 85%;
    }
    .description{
        width: 100%;
    }
    .Marseille-containeur{
        width: 100%;
        flex-direction: column-reverse;
       
    }
    
    .hebergement_containeur{
        flex-direction: column;
        width: 120%;
    
    }
    .Marseille-titre h3{
        font-size: medium;
    }
    
    .hebergement-element-containeur{
        width: 100%;
    }
    .hebergement-element-content{
        margin-left: -9%;
    }
    
    .Marseille-content-containeur{
        width: 165%;
        flex-direction: column;
        background-color: white;
    }
    
    .hebergement-image{
        height: 116px;
    }
    .third{
        width: 100%;
        height: 175px;
        margin-left: 2%;
        font-size: 15px;
    }
    .AFP {
        background-color: white;
        border: none;
        color: black;
       
    }
    .AFP a {
        color: black;
        text-decoration: none;
    }




    .Activités_marseille {
        flex-direction: column;
        width: 100%;
    }

    .grid-container-activity-Marseille {
        
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px 0px;
        grid-template-rows: 30% 30% 30% 30% 30% 30%;
        width: 100%;
        margin-bottom: 132%;
        
    
        
        grid-template-areas:
          "old-port"
          "pomegue"
          "iles-frioul"
          "calanques"
          "garde"
          "longchamp";
      }
      .old-port { grid-area: old-port; }
      .pomegue { grid-area: pomegue; }
      .iles-frioul { grid-area: iles-frioul; }
      .calanques { grid-area: calanques; }
      .garde { grid-area: garde; }
      .longchamp { grid-area: longchamp; }

    img{
        object-fit: cover;
        height: 100px;
    }
    .grid-container-activity-Marseille-title{
        margin-left: 7%;
        font-size: 17px;
        padding-bottom: 35px;
    }
    .activity-Maseille-card{
        margin-left: 0%;
        margin-right: -6%;
    }
    .activity-Marseille-card-title{
        margin-top: -2%;
        margin-left: 4%;
    }
    .third{
          flex-direction: column;
    }

    

    #footer{
        flex-direction: column;
        width: 110%;
        
    }
}