
.grid-container-navbar {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.1fr ;
    gap: 0px 0px;
    grid-template-areas:
      ". line . ."
      "logo-reservia hebergement activites inscrire";
  }
  
  .logo-reservia img { 
    grid-area: logo-reservia;
   max-width: 9%;
   height: auto;
   margin-left: 30px;
   margin-top: 30px;
 }
  
  .hebergement { 
    font-family: 'Raleway'; 
    font-size: 13px;
    color: #0065FC;
    grid-area: hebergement;
     margin-top: -45px;
     margin-left: 100PX ;
     text-decoration: none;
    
 }

 .line{
    grid-area: line;
     border-top: solid #0065fc;
     width: 70%;
     border-width: 2Px;
     margin-left: 78px;
 }
     
  
  .activites { 
    font-family: 'Raleway';
    font-size: 13px;
    grid-area: activites;
    margin-top: -45px;
    margin-left: 78px }
  
  .inscrire { 
    font-family: 'Raleway'; 
    font-size: 13px;
    font-weight: bold;
    color:#0065FC;
    grid-area: inscrire;
    margin-top: -45px;
    margin-left: 43px;

  }
.info h3{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 18px;
    margin-top: 28px;
    margin-left: 30px;
    margin-bottom: 0px;
}  
.info h5{
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 13px;
    margin-top: -8px;
    margin-left: 30px;
    margin-bottom: 0%;
}

    
.searchForm{
    display: inline-flex;
    overflow: auto;
    margin-top: -20px;
    margin-left: 30px;
    height: 47px;
}
.searchFormWrapicon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;

}
.searchFormWrapiconIcon{
    margin-left: 0.1rem;
    
}
.searchFormWrapicon .fas{
    color: black;
}
.searchFormSearchImput{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-family: 'Raleway';
}
.searchFormSearchInput {
    padding-left: 7px;
    font-family: 'Raleway';
    font-size: 15px;
}
.searchFormSubmitInput{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: 'Raleway';
    font-size: 1rem;
    cursor: pointer;
}
.searchFormSearchInput::placeholder {
    font-weight: bold;
    color: black;
}
.loupe{
    display: none !important;
    color: white !important;
}

.filter-title{
   
    font-family: 'Raleway';
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.filtres{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;

}

    .filter-element{
    border: solid silver 2px;
    border-radius: 2em;
    max-width: 250px;
    margin-right: 16px ;
   
}
.filter-element-containeur{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 43px;
}
.filter-element :hover{
    background-color: rgb(196, 196, 235);
    border-radius: 20px;
    font-style: italic;
    
}

.filter-element-icone-containeur{
    width: 3rem;
    background-color:#DEEBFF ;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    margin-left: -2%;

}
.filter-element-icone-containeur i{
    color: #0065FC;
    position: relative;
    top: 25%
}


.filter-element-texte{
    margin: 2px 16px;
    font-family: 'Raleway';
}


.info2 i{
    border: solid #F2F2F2;
    font-size: 10px;
    border-width: 2px;
    border-radius: 20px;
    padding: 7px 10px 7px 10px;
    margin-right: 1%;
    margin-left: 30px;
    
}
.info2{
    font-size: 13px;
    font-family: 'Raleway';
}
.hebergement-activités-inscription-containeur{

    display: flex;
    position: relative;
    bottom: 10rem;
    top: -45px;
    margin-left: 40%;
    padding: 20px 10px 10px 10px;
   
}
.hebergement-titre{
    margin-right: 50px;
}
.activités-titre{
    margin-right: 50px;
}


.fas{
    
    color: #0065ff;
    margin: 0% 0% 0% 0%;
    border: none;
}
.far {
    
    color: silver;
    

}
.Marseille-containeur{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
#hebergement_containeur{
    
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 15px;
    padding-top: 25px;
    margin-right: -41px;
    
    
}
.Marseille-titre{

    margin-left: 4px;
    margin-bottom: -30px;
    margin-top: -21px;
    

}
.Marseille-titre h3{
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 0px;
    font-family: 'Raleway';
}

.Marseille-content-containeur{
    
    
    background-color: #f2f2f2;
    padding-top: 60px;
    border-radius: 20px 20px 20px 20px;
    padding-left: 5%;
    margin-left: 30px;
    padding-right: 0%;

}
.Marseille-left-containeur{

    width: 64%;
}
.les-plus-populaires-right-containeur{

    width: 36%;
}

 img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    
}


.third{
    font-family: 'Raleway';
     width: 26%;
     margin-right: 6%;
     margin-bottom: 3%;
    
}
.third :hover{
    background-color: rgb(196, 196, 235);
    font-style:italic ;
    
}
.third i{
    font-size: 11px;
}
.description{
    margin-left: 2px;
}

.hebergement-element-content{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:3px 3px 3px rgb(196, 193, 193);
    padding: 5px;
}
.hebergement-image{
    height: 6em;
    object-fit: cover;
}

.AFP{
    display: flex;
    width: auto;
    font-family: 'Raleway';
    padding-left: 10px;
    padding-top: -1%;
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    padding-bottom: 33px;
    border-radius: 0px 0px 20px 20px;
   
}
.AFP a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.les-plus-populaires-test h3{

    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 4px;
}
.les-plus-populaires-test span i{
    color: black;
    
}
.les-plus-populaires-test {
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 4%;
    padding-right: 1%;
    margin-left: 29px;
    margin-right: 30px;
    
    
}

.les-plus-populaires-test h3{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway';
    margin-top: 38px;
    margin-left: 30px;
}
.les-plus-populaires-test span .fas{
    margin-left: 195px;
}
.img-pop{
    width: 35%;
    height: 89%;
    border-radius: 10px 0px 0px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 17px;
    object-fit: cover;

}


.pop{
    font-family: 'Raleway';
    display: flex;
     margin-top: 12px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    height: 121px;

}
.pop-coeur{
    font-family: 'Raleway';
    display: flex;
     margin-top: 12px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    height: 121px;
}
.pop-coeur i{

    margin-top: 20px;
    font-size: 11px;
}

.pop :hover{

    background-color: rgb(196, 196, 235);
    font-style: italic;
}
.pop i{

    margin: 42px -2px 0px 5px;
    font-size: 11px;
}
span i{
    color: black;
    margin-left: 450px;
    margin-top: 2px;
}  
.grid-container-activity-Marseille {
    max-height: 100%;
    height: 438px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 43%;
    gap: 34px 50px;
    grid-template-areas:
      "old-port pomegue calanques garde"
      "old-port iles-frioul calanques longchamp";
    margin-top: -34px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Raleway';
}
  .old-port { grid-area: old-port; }
  .pomegue { grid-area: pomegue; }
  .iles-frioul { grid-area: iles-frioul; }
  .calanques { grid-area: calanques; }
  .garde { grid-area: garde; }
  .longchamp { grid-area: longchamp; }


.grid-container-activity-Marseille-title{
    padding: 2%;
    font-size: large;
    font-family: 'Raleway';
    margin-left: 6px;
} 
.activity-Maseille-card{
    height: 100%;
    border-radius: 20px;
    box-shadow: #00000038 0px 0px 4px;
}

.activity-Maseille-card-image{
    height: 90%;
}

.activity-Maseille-card-image-little{

    height: 85%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.activity-Marseille-card-title{
    height: 10%;
    margin: 8px 8px;
    padding-top: 3px;
    font-size: 15px;
}
.activity-Marseille-card-title-little{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
}


#footer {
    font-family: 'Raleway';
    font-size: 18px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 15px;
    
}
#footer p{
    margin-right: 288px;
}
 
@media all and (max-width: 1024px) {
.logo-reservia{
    width: 160%;
}
.les-plus-populaires-test{
    width: 150%;
    margin-left: 63%;
    margin-bottom: 10%;
}

.Marseille-containeur{
    flex-direction: column-reverse;
}
.Marseille-titre h3{
    font-size: 30px;
}
#hebergement_containeur{
    width: 105%;
}
.Marseille-content-containeur{
    width: 143%;
}

.third{
    
    height: 277px;
    font-size: 18Px;
    
}
.hebergement-image{
    height: 200px;
}
#footer{
    flex-direction: column;
    flex-wrap: nowrap;
}
}


@media all and (max-width: 768px){

    .grid-container-navbar {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.4fr 0.6fr 0fr ;
        gap: 0px 0px;
        grid-template-areas:
          "logo-reservia inscrire"
          "hebergement activites"
          "line .";
    }
      
    .logo-reservia img { 
        grid-area: logo-reservia; 
        margin-top: 9%;
        min-width: 25%;
        
    }
      
    .inscrire { grid-area: inscrire;
        margin: 21% 0% 17% 47% ;
        font-size: 20px;
    }

    .inscrire a {
        text-decoration: none;
    }
      
    .hebergement { grid-area: hebergement;
        margin-top: 15%;
        margin-left: 14%;
        font-size: 20px;
        text-decoration: none;
     }
    .hebergement a{
        text-decoration: none;  
    
    }
    .activites { grid-area: activites;
        margin-top: 15%;
        margin-left: 95px;
        font-size: 20px;
        text-decoration: none;
    }

    .activites a {
        color: black;
        text-decoration: none;
    }
    
    .line { grid-area: line;
         margin-left: 0%; 
         width: 110%;
    }


    .fas fa-search{
        display: block;
        }
    
    .info h3{
        font-size: xx-large;
        }
    
    .info h5{
        font-size: x-large;
        }
    
    .info2{
        font-size: x-large;
        
        }
    .info2 i{
        margin: 1%;
    }


    .loupe{
        display: flex !important;
}
    .searchForm{
        width: 100%;
    }
    .searchFormSubmitInput span{
        display: none;
    }
    .filter-element{
        margin-bottom: 8px;
    }



    .les-plus-populaires-test{
        width: 130%;
        margin-left: 1%;
        border-radius: 0px 0px 0px 0px;
        
    }
    .les-plus-populaires-right-containeur{
        width: 85%;
        
    }
    .img-pop-soleil{
        width: 95%;
    }
    .pop{
        width: 71%;
    }
    .pop-coeur{
        width: 71%;
    }
    .description{
        width: 100%;
    }
    .Marseille-containeur{
        width: 100%;
        flex-direction: column-reverse;
       
    }
    
    .hebergement_containeur{
        flex-direction: column;
        width: 120%;
    
    }
    .Marseille-titre h3{
        font-size: 15px;
        
    }
    
    .hebergement-element-containeur{
        width: 100%;
    }
    .hebergement-element-content{
        margin-left: 1%;
        width: 88%;
    }
    
    .Marseille-content-containeur{
        width: 140%;
        margin-left: 1%;
        flex-direction: column;
        background-color: white;
    }
    
    .hebergement-image{
        height: 116px;
    }
    .third{
        width: 100%;
        height: 175px;
        margin-left: 2%;
        font-size: 15px;
    }
    .AFP {
        background-color: white;
        border: none;
        color: black;
       
    }
    .AFP a {
        color: black;
        text-decoration: none;
    }




    .Activités_marseille {
        flex-direction: column;
        width: 100%;
    }

    .grid-container-activity-Marseille {
        
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px 0%;
        grid-template-rows: 14% 14% 14% 14% 14% 14%;
        height: 988px;
        
    
        
        grid-template-areas:
          "old-port"
          "pomegue"
          "iles-frioul"
          "calanques"
          "garde"
          "longchamp";
      }
      .old-port { grid-area: old-port; }
      .pomegue { grid-area: pomegue; }
      .iles-frioul { grid-area: iles-frioul; }
      .calanques { grid-area: calanques; }
      .garde { grid-area: garde; }
      .longchamp { grid-area: longchamp; }

    img{
        object-fit: cover;
        
    }
    .grid-container-activity-Marseille-title{
        margin-left: 7%;
        font-size: 17px;
        padding-bottom: 35px;
    }
    .activity-Maseille-card{
        
        margin-right: 1%;
        margin-top: -3%;
        padding-bottom: 2%;
        width: 88%;
    }
    .activity-Marseille-card-title{
        margin-top: 0%;
        margin-left: 4%;
    }
    .third{
          flex-direction: column;
    }

    

    #footer{
        flex-direction: column;
        width: 100vw;
        
    }
    
    
    
}