
@font-face{
    font-family: raleway sans-serif;
    src: url(Raleway-VariableFont_wght.ttf);
}


nav img
{
    display: flex;
    width: 90px;
    height: 40px;
}

nav ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    margin-left: 50%;
}
.searchForm{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.searchFormWrapicon{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;

}
.searchFormWrapiconIcon{
    margin-left: 0.1rem;
}
.searchFormSearchImput{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: relaway,sans-serif;
}
.searchFormSubmitInput{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: relaway sans-serif;
    font-size: 1rem;
    cursor: pointer;
}


#filtres {

    list-style-type: none;
}
.filtres{
    display: flex;
    flex-wrap: wrap;

}

.filter-element{
    border: solid silver 2px;
    border-radius: 2em;
    max-width: 250px;
    margin-right: 16px ;
   
}
.filter-element-containeur{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter-element-icone-containeur{
    width: 3rem;
    background-color:#DEEBFF ;
    height: 3rem;
    border-radius: 50%;
    text-align: center;

}
.filter-element-icone-containeur i{
    color: #0065FC;
    position: relative;
    top: 25%
}

.filter-element-texte{
    margin: 0px 8px;
}


p i {

    color: #0065ff;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgb(218, 216, 216);
    padding: 1px 6px 1px 6px;
    margin-right: 0.5%;
    
}


.hebergement-activités-inscription-containeur{

    display: flex;
    position: relative;
    bottom: 10rem;
    top: -45px;
    margin-left: 40%;
    padding: 20px 10px 10px 10px;
   
}
.hebergement-titre{
    margin-right: 50px;
}
.activités-titre{
    margin-right: 50px;
}
div i {
    color: #DEEBFF;
    
}

.fas{
    display:flex;
    color: #0065ff;
    border: 0px;
    margin: 0% 0% 0% 0%;
}
.far {
    color:silver;
    border: 0px; 
}
.Marseille-containeur{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
#hebergement_containeur{
    
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 15px;
    padding-top: 40px;
    
    
}
.Marseille-titre{

    margin-left: 25px;
    margin-bottom: -30px;
    margin-top: -21px;
    

}
.Marseille-titre h3{
    font-size: medium;
}

.Marseille-content-containeur{
    
    
    background-color: #F2F2F2;
    padding-top: 30px;
    border-radius: 20px 20px 0px 0px;

}
.Marseille-left-containeur{

    width: 64%;
}
.les-plus-populaires-right-containeur{

    width: 36%;
}

 img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    
}


#third{
     width: 31%;
     margin-right: 2%;
     margin-bottom: 16px;
    
}

.hebergement-element-content{
    border-radius: 30px 30px 30px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:3px 3px 3px rgb(196, 193, 193);
    
}
.hebergement-image{
    height: 7em;
    object-fit: cover;
}

.AFP{
    display: flex;
    width: 98%;
    padding-left: 10px;
    padding-top: 1%;
    border: solid #F2F2F2;
    background-color: #F2F2F2;
    padding-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
   
}

.les-plus-populaires-test h3{

    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.les-plus-populaires-test span i{
    color: black;
    
    

   
}
.les-plus-populaires-test {
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 2%;
    padding-right: 1%;
    
    
}
.description{
    font-size: smaller;
    margin-top: 7%;
}
.les-plus-populaires-test h3{
    font-size: medium;
}
.img-pop{
    width: 45%;
    height: 93%;
    border-radius: 10px 0px 0px 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    object-fit: cover;

}
.img-pop-soleil{
    width: 50%;
    height: 138%;
    margin-left: 2%;
    margin-top: 3%;
}

.img-pop .description{
    display:flex ;
    flex-wrap: wrap;
    
    
}
.pop{
    display: flex;
    width: 100%;
    height: 24%;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 5px;


    
}
span i{
    color: black;
    margin-left: 450px;
    margin-top: 2px;
}  
   
.Activités-Marseille-titre h3{

    margin-top: 50px;
    margin-bottom: -30px;
    padding-left: 18px;
}

.Activités_marseille{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    
}

#image_1{
       display: flex;
       flex-wrap: wrap;
       width: 250px;
       height: 500px;
       flex-direction: column;
       border-radius: 10px 10px 0px 0px
       
       
}
#image_1 div{
    border: solid #FFFFFF;
    padding-left: 10px;
    box-shadow: silver 3px 3px 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fort img{
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 300px;
    height: 160px;
    object-fit: cover;

}  
.fort h4{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10px;
    margin-top: 0;
    box-shadow: silver 3px 3px 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.iles img{
    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 300px;
    height: 90px;
    object-fit: cover;
}
.iles h4{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10px;
    margin-top: 0;
    box-shadow: silver 3px 3px 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

    

.notreD img{

    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
     width: 300px;
    height: 125px;
    object-fit: cover;
}
.notreD h4{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10px;
    margin-top: 0;
    box-shadow: silver 3px 3px 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.parc-longchamp img{

    display: flex;
    flex-wrap: wrap;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 300px;
    height: 125px;
    object-fit: cover;

}
.parc-longchamp h4{

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10px;
    margin-top: 0;
    box-shadow: silver 3px 3px 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#footer {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 150px;
    justify-content: center;
    justify-content: space-around;
    
}


@media screen and (max-width: 768px){

    .filter-element{
        margin-bottom: 8px;
    }
    
    .Marseille-containeur{
        
        flex-direction: column-reverse;
       
    }
    .Marseille-content-containeur{
        flex-direction: column;
    }
    .third{
        flex-direction: column;
        width: auto;
    }
    
    }



